<a href="/"><img th:src="@{__${@logoPath}__}" alt="A RetroSearch Logo"></a>

<th:block th:if="${@environment.getProperty('retrosearch.news.enable') or
                   @environment.getProperty('retrosearch.sports.football.enable')}">
<h4>
    <a href="/">Home</a>
    <th:block th:if="${@environment.getProperty('retrosearch.news.enable')}">
        - News (
        <th:block th:each="locale,iteration: ${@newsSettings.getLocales()}">
            <a th:href="@{ /news(country=${locale.getDisplayCountry()}) }" th:text="${locale.getDisplayCountry()}"></a>
            <th:block th:text="${!iteration.last ? '|' : ''}"></th:block>
        </th:block>
        )
    </th:block>

    <th:block th:if="${@environment.getProperty('retrosearch.sports.football.enable')}">
        - <a href="/football">Football scores</a>
    </th:block>
</h4>
</th:block>

<form action="/search" method="get">
    Search Query:
    <input type="text" th:value="${searchResults?.query}" name="query">

    <th:block th:unless="${#lists.isEmpty(@searchSettings.getLocales())}">
        <select name="locale">
            <option th:each="locale: ${@searchSettings.getLocales()}"
                    th:text="${locale.getDisplayCountry()}"
                    th:value="${locale.toString()}"
                    th:selected="${searchResults?.locale == locale.toString()}">
        </select>
    </th:block>

    <input type="submit" value="Go!">
</form>