<th:block th:insert="fragments/doctype.html"]></th:block>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About RetroSearch</title>
</head>
<body>
    <h1>About RetroSearch</h1>
    <p>RetroSearch is a Spring Web Application that presents very simple HTML pages which can be interpreted by old browsers.</p>
    <p>It provides the ability to search the Web using DuckDuckGo with a custom scraper that loads the first page of results and allows you to browse pages in plain text.</p>

    <h2>Open source software</h2>

    <h3>RetroSearch</h3>
    <a href="https://www.gnu.org/licenses/gpl-3.0.txt"><p>GPL-V3 License</p></a>
    <a href="https://github.com/garamb1/retrosearch">GitHub Repository</a>

    <h3>Spring Framework</h3>
    <a href="https://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0 License</a>
    <a href="https://spring.io/">Website</a>

    <h3>Lombok</h3>
    <a href="https://opensource.org/license/mit/">MIT License</a>
    <a href="https://projectlombok.org//">Website</a>

    <h3>Apache Commons</h3>
    <a href="https://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0 License</a>
    <a href="https://commons.apache.org/proper/commons-validator/">Website</a>

    <h3>Jsoup</h3>
    <a href="https://opensource.org/license/mit/">MIT License</a>
    <a href="https://jsoup.org/">Website</a>

    <h3>readability4j</h3>
    <a href="https://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0 License</a>
    <a href="https://github.com/dankito/Readability4J">GitHub Repository</a>

</body>
